<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Appointment Booking</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4"> Book your appointments </h1> 

        <form action="/slots" method="POST" class="mb-4">
            <div class="form-group mb-4">
                <label  for="date" class="mb-2">Enter your Date in DD-MM-YYYY format</label>
                <input required type="text" name="date" id="date" class="form-control">
            </div>
            
            <div class="form-group mb-4">
                <label  for="timezone" class="mb-2">Enter your Timezone (copy from the list below)</label>
                <input required type="text" name="timezone" id="timezone" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Get Available Free Slots</button>
            <a href="/events/" class="btn btn-secondary">See all events</a>
        </form>
        <h4>Timezones list</h4>
        <p>America/Los_Angeles</p>
        <p>Australia/Sydney</p>
        <p>Europe/London</p>
        <p>Asia/Dubai</p>
        <p>Asia/Calcutta</p>
    </div>
</body>
</html>